<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>We are a group of passionate writers who love to share our thoughts, insights, and experiences on a variety of topics. Our goal is to create an online community where people can come together to learn, discuss, and engage with each other.
            <br><br>
            What sets us apart from other blogs is our dedication to providing high-quality content that is both informative and entertaining. We strive to make every post engaging and easy to read, so that everyone can benefit from our insights.
            <br><br>
            Our team consists of writers from different backgrounds, each with their own unique perspective and expertise. We believe that this diversity is what makes our blog so special, and we hope that it will inspire our readers to share their own experiences and ideas.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>